/*** Global Styles/Resets ***/
html {
    font-size: 62.5%;
}

* {
    padding:0;
    box-sizing:border-box;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

li {
    list-style: none;
}

/*** LAYOUT ***/
/* FLEXBOX */
.flex {display:flex}

.col {flex-flow: column;}

/* HEADER */
/* NAVIGATION */
nav {
    justify-content:space-around;
    align-items:center;
    font-size: 1.8rem;
}
/* nav element layout */
#navUL, .socialsUL {
    justify-content: space-evenly;
    padding:0;
}

.socialsUL {width: 20%;}
#navUL {
    width: 80%;
    justify-content: space-around;
    flex-flow: row wrap;
}

#navUL li {
    margin: 2rem 0;
}

/* size of intro section */
#intro {
    align-items: center;
    justify-content: space-between;
    padding-top:4rem;
    width: 100%;
}

#projects {
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom:2rem;
}

/*** STYLING ***/
/* styling each nav element */
#navUL li a {
    text-decoration: none;
    padding: 2rem 3rem;
    border-radius:5rem;
    color:black;
}

#navUL li:nth-child(2), #navUL li:nth-child(4) {
    position:relative;
    top:5rem;
}

    /* styling nav elements on hover */
    #navUL li a:hover {
        font-weight:bold;
    }

        /* social media styling */
        .fa-brands {
            color: purple;
            background: white;
            border-radius: 50%;
            padding: 1rem;
            border: 0.25rem solid white;
        }

        .fa-brands:hover {
            background: rgba(255, 255, 255, 0.379);
        }

/* background images */
#sky {
    background: linear-gradient(to bottom right, #eadc8d, rgb(240, 223, 243), rgb(185, 213, 242), rgb(72, 184, 218));
    background: linear-gradient(to bottom, #eeaf61, #fb9062, #ee5d6c, #ce4993, #3a68b8);
}

#sea {
    background: linear-gradient(to bottom, rgb(105, 234, 206), rgb(1, 167, 203), rgb(4, 149, 190));
    background-image: url(/assets/images/water.jpg);
}

#projects {
    background: linear-gradient(to bottom, rgb(4, 149, 190), rgb(3, 95, 120), rgb(0, 61, 60), #e4cba7);
}

/* INTRO SECTION STYLING */

#intro h1 {
    font-size:3rem;
    color:#fff;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    text-align:center;
}

/* logo styling */
#logo {
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    justify-content:center;
    align-items: center;
    height:24rem;
    width:24rem;
    background:#f3f57228;
}

 /* PORTFOLIO SECTION STYLING */
 #portfolio {
    margin-top:4rem;
    text-align:center;
    text-transform: uppercase;
    text-shadow: #eadc8d 0 .5rem 0.5rem;
    font-size: 4rem;
 }

 /* PROJECTS */
 .project {
    padding: 2rem 0;
    margin: 1rem;
    flex-flow: column;
    align-items:center;
    background: url(/assets/images/clam.png) no-repeat;
    background-size:cover;
    background-position:center;
 }

    .project h2 {
        background: #ffffff89;
        padding: 1rem;
        border-radius: 3rem;
    }

        .project img {
            border-radius:1rem;
            width: 25rem;
            border: 1px solid rgba(255, 255, 255, 0.538);
            box-shadow: rgba(5, 5, 0, 0.211) 0 0 9rem 2rem;
        }

 .pearl {
    background: white;
    background: linear-gradient(to bottom left, #fff, #b3acac);
    height: 33rem;
    width: 33rem;
    margin: 5rem 8rem;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    border: .2rem solid rgba(255, 255, 255, 0.5);
 }
 
    .project img, .projectLinks {
        position: relative;
        top:2rem;
    }

        .projectLinks {
            justify-content: center;
            width:100%;
            top: 3rem;
        }

            .projectLinks a {
                text-decoration: none;
                color: white;
                text-transform: lowercase;
                padding: 1rem;
                font-weight: bold;
                background:#467069ac;
                border: .3rem dotted #fff;
                border-radius: 5rem;
                letter-spacing: 0.1rem;
                margin:0.5rem;
            }

                .projectLinks a:hover {
                    background: #467069;
                    color: #fff;
                }

 /*** MEDIA QUERIES ***/
 @media all and (max-width:771px) {
    nav {
        flex-flow:column;
     }

    #navUL li:nth-child(2), #navUL li:nth-child(4) {
        position:static;
    }
 }

 /* CLOUD STUFF */
 .cloud {
    width: 10rem;
    height: 5rem;
    flex-flow:column;
    border-radius: 10rem;
    filter: drop-shadow(0 0 3.5rem #103950);
    z-index:1;
 }

 .cloud, .cloud::before {
    background: #f9bbc9;
 }

 .cloud::before {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3rem;
    border-radius: 50%;
    bottom: 3rem;
    left: 1.5rem;
    box-shadow: 3rem 0 0 .5rem #ffe0e6;
 }

 /* put nav words in front of cloud */
 .cloud a {
    z-index: 2;
    align-self:center;
 }

 .text {
    position:absolute;
    top:1.5rem;
    height:30rem;
    line-height:2rem;
    text-transform: uppercase;
    text-shadow: 0 0 .5rem #f9bbc9, 0 0 1.5rem #f9bbc9, 0 0 3rem #f9bbc9;
    transform-origin:bottom;
    color:#f9bbc9;
    animation: animate 2s linear forwards;
    order:1;
 }

 @keyframes animate {
    100% {
        transform: translateY(2.9rem) scale(0);
    }
 }

/* NOTES 
- add sand/land area, transition to it by using the water pic again but flipped upside down so it’s like a shore, or find a similar one that’s a shore
- project container ideasL
  - open oysters/clams and inside the opening is the project in a white pearl/circle container
  - coral
  - bubbles or put tech stack in bubbles
*/